button {
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    border: 2px solid gray;
    margin: 3px;
}

#topicButtons {
    margin-top: 10px;
    margin-left: 10px;
}

body {
    background: url(https://media.giphy.com/media/GR81UZYyhN3Ww/giphy.gif);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#user-form {
    color: pink;
    margin-left: 280px;
}

#gifDump {
    width: 25%;
    color: pink;
}

p {
    padding: 5px;
    margin: 5px;
}